<footer id="footer_links" class="page-footer white">
<li class="divider"></li>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>DevTrack</h5>
        <p>Share and Organize all of your Dev tools.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        <ul>
          <li>
            <a class="footer_links_color" href="/devtools">Public DevTools</a>
          </li>
          <li>
            <a class="footer_links_color" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <li class="divider"></li>
  <div class="footer-copyright white">
    <div class="container">
      © 2018 DevTrack
    </div>
  </div>
</footer>