<h1>Add New DevTool</h1>
<div class="row">
  <form action="/devtools" method="post" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="statue">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" id="filled-in-box" checked="checked">
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>Tell us about your DevTool:</h5>
        <textarea name="body"></textarea>
      </div>
    </div>

    <input type="submit" value="Save" class="btn">
  </form>
</div>