@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper, .fa-bars {
  font-size: 25px;
  color: #666666;
}

nav ul a {
  color: #666666;
}

footer {
  margin-top: 20px;
}

#logo {
  width: 165px;
  padding-top: 7px;
}

.fa-pencil-alt,
.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responsive-img {
  max-width: 50% !important;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

#login_btn {
  color: #666666;
}

.st0, .st1, .st2 {
  fill: #666666;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 94px;
  font-weight: 600;
}

.st3 {
  fill: #FFDFD3;
}

.st4 {
  fill: #FF6932;
}

.st5 {
  fill: #583D00;
}

.st6 {
  fill: #D5CEBF;
}

.st7 {
  fill: #FFC37E;
}

.st8 {
  fill: #FFFFFF;
}

.st9 {
  fill: #553018;
}

.st10 {
  fill: #995C3C;
}

.st11 {
  fill: #F5E8BB;
}

.st12 {
  fill: #FBEEBE;
}

.side-nav {
  padding-top: 15px;
}

#google_loging {
  background: #FF6932;
}

footer, .footer-copyright, .footer_links_color {
  color: #666666 !important;
}
