<h1>Welcome to DevTrack 1.0.0</h1>
<h3>Sign up for free</h3>
<p>Share and Organize all of your Dev tools.</p>
<a class="btn red darken-1" href="/auth/google">
  <i class="fab fa-google"></i> Sign up free with Google
</a>
<br/>
<br/>
<hr>
<p>Or</p>
<a class="btn blue darken-1" href="#">
  <i class="fas fa-at"></i> Create an Account
</a>